__pycache__/
*.pyc
*.pyo
*.pyd
.env
venv/
.idea/

# Ignore Jupyter notebooks
*.ipynb
# Ignore checkpoint folders
.ipynb_checkpoints/

# Ignore data files (optional but recommended)
*.data
*.names


# Ignore model files (optional)
*.joblib